node_modules/
dist/
build/
.turbo/
.vite/
.cache/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage/
.idea/
.vscode/
*.log
*.tgz
/.pnp
/.pnp.js
/.parcel-cache/
/.next/
/.sass-cache/
public/pdfs/
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
